APP_NAME=HublyBot
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

# Discord Developer Application Settings
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:8000/auth/callback

# Stripe Payment Gateway settings
STRIPE_KEY=pk_test_placeholder
STRIPE_SECRET=sk_test_placeholder
